################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AppJobSearch
/AppJobSearch.iOS/obj
/AppJobSearch.Android/bin
/AppJobSearch.Android/obj
/AppJobSearch/AppJobSearch/bin
/AppJobSearch/AppJobSearch/obj
bin
obj